.container {

  width: 90%;

  max-width: 500px;

}

.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* no bloquea clicks */
  overflow: hidden;
  z-index: -2;
}

.ball {
  position: absolute;
  width: 60px;
  opacity: 0.08;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(110vh);
  }
}