.hero {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  border-radius: 0 0 3rem 3rem;
}

.hero__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__content {
  color: white;
  padding: 1rem;
}

.hero__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo-img {
  width: auto;
  height: 18rem;
  margin-bottom: 0.5rem;
}

.hero__logo {
  font-size: 1rem;
  letter-spacing: 2px;
}

.hero__title {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}

.hero__cta {
  display: inline-block;
  background: #ff7a00;
  color: white;
  padding: 0.7rem 1.8rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.hero__cta:hover {
  background: #b95401;
}



.container {

  width: 90%;

  max-width: 500px;

}

.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* no bloquea clicks */
  overflow: hidden;
  z-index: -2;
}

.ball {
  position: absolute;
  width: 60px;
  opacity: 0.08;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(110vh);
  }
}